.tooltip {
  position: relative;

  &:hover {
    .tooltip__wrap {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.tooltip__wrap {
  transform-origin: calc(100% - 25px) top;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  opacity: 0;

  width: 100%;
  min-width: 300px;
  position: absolute;
  background-color: $color-FFFFFF;
  border: 1px solid $color-CCCCCC;
  z-index: 100;
  border-radius: 3px;
  padding: 10px;

  &::before {
    content: '';
    position: absolute;
    right: 8px;
    top: -10px;

    border-bottom: 10px solid $color-FFFFFF;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
  }
}
